@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}


.webkit-scrollbar-none::-webkit-scrollbar {
  display: none;
}
.webkit-scrollbar-none {
  scrollbar-width: none;
}